{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "i-do-not-exist.txt"
        ]
    },
    "logs": {
        "text": "./infection.log"
    },
    "mutators": {
        "@default": true,
        "global-ignoreSourceCodeByRegex": [
            "\\\\?assert(.*)"
        ]
    },
    "testFramework": "phpunit"
}